*.o
.dep/
*.swp
ts-test
results/
Makefile.dep
*_flymake.*
*.a
dbzs
Makefile
Makefile.in
stamp-h1
aclocal.m4
include/libzeroskip/version.h
.deps/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
revision
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/doxygen.cfg
install-sh
libtool
libzeroskip.pc
ltmain.sh
*.lo
src/revision.h
src/libzeroskip.exp
.libs
src/libzeroskip.la
ZSTESTDB
